@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

body {
    display: flex;
}

.sidebar {
    width: 291px;
    height: 100vh;
    padding: 66px 0;
    border-right: 1px solid #8F8F8F;
}

.sidebar .sidebar-list {
    padding-left: 0;
    padding: 0 15px;
}

.sidebar .sidebar-list .sidebar-list__item {
    margin-bottom: 41px;
    list-style: none;
    margin-left: 19px;
    cursor: pointer;
}

.sidebar .sidebar-list .sidebar-list__item img{
    fill: red;
}

.sidebar .sidebar-list .sidebar-list__item a {
    text-decoration: none;
    color: #262626;
    margin-left: 35px;
}

.sidebar .sidebar-list .sidebar-list__item-active {
    background: #262626;
    padding: 20px;
    margin-left: 0;
    border-radius: 14px;
    margin-bottom: 23px;
    cursor: pointer;
}

.sidebar .sidebar-list .sidebar-list__item-active a {
    color: #fff;
}

/* Styles for main block */

main {
    padding-top: 39px;
}

.accordion-tab {
    width: 75em;
}

main .accordion-item {
    border: none;
}

main .accordion-button {
    width: 75em;
    background-color: #262626;
    color: #fff;
    border-radius: 16px;
}

main .accordion-tab table.dataTable tbody tr.row-1 {
}

main .accordion-tab table.dataTable tbody tr.row-2 {
}


